.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    position: sticky;
    top: 0;
    z-index: 5000;
}

.header__logo, .header__logo:focus {
    height: 25px;
    object-fit: contain;
    margin-left: 20px;
    cursor: pointer;
}

.header__input {
    display: flex;
    align-items: center;
    width: 40%;
}

.header__inputBtn, .header__input:focus{
    width: 50px !important;
    color: grey;
    cursor: pointer;
}

.header__input > input {
    flex: 1;
}

.header__link {
    text-decoration: none;
    color: coral;
    display: flex;
    align-items:center
}

.header__user {
    margin-right: 15px;
}

.header__option {
    display: flex;
    flex-direction: column;
}

.header__lineOne {
    font-size: 10px;
}

.header__lineTwo {
    font-size: 13px;
    font-weight: 800;
}

.header__icons {
    display: flex;
    align-items: center;
}

.header__icon, .header__icon:focus{
    margin-right: 10px;
    color: coral;
    text-decoration: none;
    cursor: pointer;
}

.header__iconDark {
    color: white;
}

/* .header__icons > a {
    text-decoration: none;
    color: coral;
} */
