.typing {
    flex:0.8;
    margin-top: 10px;
}

#dropdown {
    margin-bottom: 10px;
}

.drop-heading {
    margin-top: 10px;
}

#header {
    background: #A9A9A9;
    text-align: center;
    padding: 10px;
}

#start {
    margin-top: 15px;
    width: 100%;
}